# /.env file
# ================================
# LLM configuration
# ================================
LLM_BASE_URL="your-llm-base-url"
LLM_API_KEY=your-llm-api-key
LLM_MODEL="qwen/qwen25-72b-instruct"
EMBEDDING_MODEL="text-embedding-3-small"
EMBEDDING_LLM_API_KEY=your-embedding-api-key
# ================================
# Tavily Setup
# ================================
TAVILY_API_KEY=your-tavily-api-key


# ================================
# RAG Pipeline configuration
# ================================
VECTOR_BACKEND="lancedb"
VECTOR_STORE_PATH="vectorstore"
VECTOR_COLLECTION="projectwise_server"
# QDRANT_URL="http://localhost:6333"
# QDRANT_API_KEY="qdrant-api-key"
# QDRANT_DISTANCE="Cosine"
RETRIEVER_K=8
MAX_CONCURRENT_PROCCESS=8
MAX_CPU_WORKERS=4
VECTOR_DIM=1536


# ================================
# Logging configuration
# ================================
# Mode default (file, aman untuk single-proses (async))
LOG_MODE=file
LOG_LEVEL=INFO
LOG_RETENTION=90
LOG_FORMAT=%(asctime)s %(levelname)s %(name)s: %(message)s
LOG_DATEFMT=[%d/%m/%Y %H:%M:%S %z]
LOG_CONSOLE=true
# LOG_ROOT_DIR=/abs/path/ke/proyek
# LOG_USE_UTC=false
# LOG_MONTH_FORMAT=%Y-%m

# Mode stdout (disarankan untuk multi-proses dengan agregator. Running via Docker)
# LOG_MODE=stdout
# LOG_LEVEL=INFO
# LOG_CONSOLE=true
# LOG_FORMAT=%(asctime)s %(levelname)s %(name)s: %(message)s
# LOG_DATEFMT=%Y-%m-%d %H:%M:%S

# Mode socket (multi-proses tanpa agregator eksternal)
# LOG_MODE=socket
# LOG_SOCKET_HOST=127.0.0.1
# LOG_SOCKET_PORT=9020
# LOG_LEVEL=INFO
# LOG_CONSOLE=false
# LOG_FORMAT=%(asctime)s %(levelname)s %(name)s: %(message)s
# LOG_DATEFMT=%Y-%m-%d %H:%M:%S
# LOG_RETENTION=90
